*{box-sizing: border-box;
}

body{
font-family: 'Lato', sans-serif;
color:#291f1a;
margin:0;
font-weight: 300;}

p { line-height: 25px;
}

#main-nav{
width:100%;
background-color:white;
position:fixed;
top:0;
z-index:2;
}
#main-nav ul{
    margin:0;
float:right;
}
#main-nav ul li{
    display: inline-block;
    padding:6px;
}
#main-nav ul li a{
    color:greenyellow;
    text-decoration: none;
}
#main-header{
    background-size:cover;
    background-image: url("../img/header-background.jpg");
 color: #fff;
}
#main-header .header-content{
    padding: 30vh;
    text-align: center;
}
#main-header .header-content h1{
   font-family: "Roboto";
    font-weight: 200;
    font-size: 40px;}

#main-header .header-content h1 span{
        color:#1ac056;
font-weight: 300px;}

 #main-header .header-content h2{
font-weight: 200;
font-size:30px;}

#nextfoto
{ width:30%;
  height:30%;
    float:left;
    padding: 80px;
    display:none;
}

/*about me*/
section {
    padding:0px 80px 100px;
    background-color: #f9fcfe;
    
}
section h2, #mine h3, #portfolio h4, 
#wizytowka h1 {
    text-align: center;
    margin-top: 0,83em;
    margin-bottom: 0,83em;
        font-weight: 300;
    font-size: 30px;

}
section h2 span, #mine h3 span, #portfolio h4 span, #wizytowka h1 span {
    color:#1ac056;
    font-weight: 400;
    
}
#about img {
    max-height: 350px;
    max-width: 100%;
    border: 14px #fff solid;
    border-radius: 15px;
    
}
#about figure {
    float:left;
    width:50%;
    text-align: center;
    margin:0;
    padding:0;
}
#about div {
    width:50%;
    float:left;
}
#about {
    overflow:hidden;
    box-shadow: 0px 1px 10px;
}

#mine figure {
    display: inline-block;
}
#mine {
    text-align: center
}
figcaption {
    padding-top: 15px;
}
#portfolio .portfolio-items{
    font-size: 0px;
    text-align: center;
}

#portfolio .portfolio-item{
    width: 33%;
    height: 330px;
    background-size:cover;
    background-position: center;
    display: inline-block;
    position: relative;
}
#portfolio .portfolio-items #portfolio-item-1 { 
    background-size:cover;
    background-image: url("../img/portfolio1.jpg");  
}
#portfolio .portfolio-items #portfolio-item-2 { 
    background-size:cover;
    background-image: url("../img/portfolio2.jpg");}
    
#portfolio .portfolio-items #portfolio-item-3 { 
    background-size:cover;
    background-image: url("../img/portfolio4.jpg");
 }

#portfolio2:hover {   
background:gray;
opacity: 0.5 
zoom: 1;}
    
.portfolio-item #portfolio3 { 
    background-size:cover;
    background-image: url("../img/portfolio4.jpg");
    }

#portfolio .portfolio-item-mask{
    opacity:0;
    background-color:rgba(42,61,79,0.8);
    width: 100%;
    height:100%;
    position:absolute;
    transition: all 0.3s ease-in-out;
    font-size: initial;
}
#portfolio .portfolio-item-mask:hover{
    opacity:1;
}

#portfolio .mask-content{
    border: 1px solid #fff;
    margin:10px;
    position: relative;
    height: 310px;
}

#portfolio .mask-content-inner {
    color:#fff;
    position: absolute;
    right: 0;
    left: 0;
    padding; 5px;
    top: 50%;
    transform: translateY(-50%);
    
}
#portfolio .mask-content-inner h5{
    margin-top: 15px;
    margin-bottom: 15px;}

#portfolio .mask-content-inner h6{
    margin-top:15px;
    margin-bottom: 15px;
}

#portfolio .mask-content-inner .fa-link:hover{
    color:aqua;
}
#stopka{
    background-color:#213b50;
    color:white;
    overflow: hidden;
}

#wizytowka {
display: block;
width:50%;
top:30px;
position: relative;
float: left;}


#formularz {
display: block;
    float:right;
    top:50px;
    position: relative;

    }
#wizytowka h2 {
    font-size: 14px;
    line-height: 150%;
}
input[type="text"], input[type="email"], textarea{width: 300px; height:30px;
    font-size: 10px;  
}
input[type="submit"]{background-color: #1ac056;}


input, select, textarea {
    background-color:#2b4a64;
    border: #213b50 1px solid;
    color:white; margin: 3px;
    padding-left: 5px;
 } 
#wizytowka h1, #wizytowka h2 {
    text-align: left;
}
#wyslij {
    width:100px;
    height:30px;
    box-shadow:0 0 2px white;
    border: none;
    
    
}
#wiadomosc{
    height: 100px;
}
a:link
	{
		font-size: 15px;
		color: green;
		text-decoration: none;
    }
#stopka #wizytowka div {
    padding-top: 30px;
    font-size: 25px;
}
footer {
 background-color: dimgrey;
 color: white;
 margin: none;
    
}

@media (max-width: 600px) {




