*{box-sizing: border-box;
}
body{
font-family: 'Lato', sans-serif;
margin:0;
font-weight: 300;
overflow-x: hidden;}

@media (max-width:992px){
h1{font-size:17px;text-align: center;}
h2{text-align: center;} 
.txt {
background-image: url("../image/man-1.jpg"); 
height: 50vh;
width: auto;
background-size: cover;
}
#headline{
    position: relative;
    top:50vh;
    padding-top:10px;}
    }

@media (min-width:992px) and (max-width:1171px)  {
h1{
    color: white;font-size: 20px;}
h2{
    color: white;} 
.txt{ 
background-image: url("../image/man-2.jpg");
height: 70vh;
width: auto;
background-size: cover;}
#headline{
    display: block;
    position:absolute;
    left:600px;
    top:90px;}
}

  @media (min-width:1171px){
body{ 
    color: white;
    background-size:cover;
    background-image: url("../image/man-1.jpg");
    }
#headline{
    position:absolute;
    left:10%;
    top:50%;}
}







  

