body{
    padding-top: 70px;
}
.rotate img {
    transform: rotate(35deg);
    transform-origin: 10% 50%;
}
.translate img{
    transform: translate(150px, 300px);
}
.scale img{
    transform:scale(0.4);
    
}
/*animacja*/
@keyframes resize {
    0% {
        height: 300px;
        opacity:.1;
}
      50%{
        height: 50px;
}
         100%{
        height: 300px;
}
}


.animation img {
    animation-name: resize;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}